@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  direction: rtl;
  width: 100%;
  height: 100vh;

  background-image: url('/hamalmobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  /* background-image: linear-gradient(
    43deg,
    #d213f3 0%,
    #6c01e6 46%,
    #42413e 100%
  ); */
  background-color: unset; /* 2 */

  align-content: center;
  /* color: black; */
  /* position: relative; */
}

@media (min-width: 1024px) {
  body {
    background-image: url("/hamaldesktop.jpeg ");
  }
}

@layer components {
  .button-dark {
    background-image: radial-gradient(
      circle 975px at 2.6% 48.3%,
      rgba(0, 8, 120, 1) 0%,
      rgba(95, 184, 224, 1) 99.7%
    );
  }

  .button-light {
    background-image: linear-gradient(
      174.2deg,
      rgba(255, 244, 228, 1) 7.1%,
      rgba(240, 246, 238, 1) 67.4%
    );
  }

  .vote-bg {
    background-image: linear-gradient(135deg, #f86363 0%, #520000 100%);
  }

  .vote-bg-own {
    background-image: linear-gradient(135deg, #f86363 0%, #520000 100%);
  }

  .vote-bg-winning {
    background-image: linear-gradient(90deg,  #f86363 0%, #520000);
  }
}


@media (max-width: 767px) {
  @supports (-webkit-overflow-scrolling: touch) {
    input[type="date"]:before {
      color: #000;
      content: attr(placeholder);
    }

    input[type="date"].filled:before {
      color: #000;
      content: "" !important;
    }

    input[type="date"]:not(.filled):before {
      color: #000;
      content: attr(placeholder);
    }

    input[type="date"] {
      -webkit-text-fill-color: #000;
      -webkit-opacity: 1;
    }
  }
}