@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  direction: rtl;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-image: url("/euro7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  /* background-image: linear-gradient(
    43deg,
    #d213f3 0%,
    #6c01e6 46%,
    #42413e 100%
  ); */
  background-color: unset; /* 2 */

  align-content: center;
  /* color: black; */
  /* position: relative; */
}

@media (min-width: 1024px) {
  body {
    background-image: url("/Background.jpg ");
  }
}

@layer components {
  .button-dark {
    background-image: radial-gradient(
      circle 975px at 2.6% 48.3%,
      rgba(0, 8, 120, 1) 0%,
      rgba(95, 184, 224, 1) 99.7%
    );
  }

  .button-light {
    background-image: linear-gradient(
      174.2deg,
      rgba(255, 244, 228, 1) 7.1%,
      rgba(240, 246, 238, 1) 67.4%
    );
  }

  .vote-bg {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

  .vote-bg-own {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

  .vote-bg-winning {
    background-image: linear-gradient(90deg, #f3ec78, #af4261);
  }
}
