/* Basic styling */
.user-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgba(0, 2, 43, 0.9);
    color: white;
    
  }

  
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group label {
    font-size: 0.9rem;
  }
  
  .checkbox-group input {
    margin-right: 0.5rem;
  }
  
.acceptMarketing  {
    align-items: center;
    display: flex;
}
/* 
  button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #007bff !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
   */
  /* Responsive styling */
  @media (min-width: 600px) {
    .user-form {
      padding: 2rem;
    }
  }
  
  @media (min-width: 768px) {
    .form-group {
      flex-direction: row;
      align-items: center;
    }
  
    .form-group label {
      margin-bottom: 0;
      margin-right: 1rem;
      width: 30%;
    }
  
    .form-group input[type="text"],
    .form-group input[type="email"] {
      width: 70%;
    }
  }
  
  /* // bs-local.com:3001/uyiulz7k */